**/bin/*
**/obj/*
*.suo
TheNewOldThing/TheNewOldThing/bin/Debug/TheNewOldThing.exe
TheNewOldThing/TheNewOldThing/bin/Debug/TheNewOldThing.exe.config
TheNewOldThing/TheNewOldThing/bin/Debug/TheNewOldThing.pdb
TheNewOldThing/TheNewOldThing/bin/Debug/TheNewOldThing.vshost.exe
TheNewOldThing/TheNewOldThing/bin/Debug/TheNewOldThing.vshost.exe.config
TheNewOldThing/TheNewOldThing/bin/Debug/TheNewOldThing.vshost.exe.manifest
TheNewOldThing/TheNewOldThing/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TheNewOldThing/TheNewOldThing/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TheNewOldThing/TheNewOldThing/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TheNewOldThing/TheNewOldThing/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TheNewOldThing/TheNewOldThing/obj/Debug/TheNewOldThing.csproj.FileListAbsolute.txt
TheNewOldThing/TheNewOldThing/obj/Debug/TheNewOldThing.csprojResolveAssemblyReference.cache
TheNewOldThing/TheNewOldThing/obj/Debug/TheNewOldThing.exe
TheNewOldThing/TheNewOldThing/obj/Debug/TheNewOldThing.pdb
TheNewOldThing/TheNewOldThing.sln.DotSettings.user
TheNewOldThing/TheNewOldThing/bin/Debug/xunit.dll
TheNewOldThing/TheNewOldThing/bin/Debug/xunit.xml
